services:
  cgit:
    image: nginx:alpine@sha256:7d7a15b8a280c661051955f14c2b91fed3e23724ddba18d2f53e8b44e74ab37a
    ports:
      - "80:80"
    volumes:
      - ../:/app:ro
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ./cgitrc:/app/dev/cgitrc:ro
      - ./repos:/repos:ro
    entrypoint: ["/bin/sh", "-c"]
    command:
      - |
        apk add --no-cache fcgiwrap spawn-fcgi
        spawn-fcgi -s /var/run/fcgiwrap.socket -u nginx -g nginx /usr/bin/fcgiwrap
        chmod 660 /var/run/fcgiwrap.socket
        nginx -g 'daemon off;'
    working_dir: /app
