services:
  cgit:
    image: nginx:alpine@sha256:5878d06ae4c83d73285438255f705bb3f9a736f41cd24876ed25bb33faf76c7d
    ports:
      - "80:80"
    volumes:
      - ../:/app:ro
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ./cgitrc:/app/dev/cgitrc:ro
      - ./repos:/repos:ro
    entrypoint: ["/bin/sh", "-c"]
    command:
      - |
        apk add --no-cache fcgiwrap spawn-fcgi
        spawn-fcgi -s /var/run/fcgiwrap.socket -u nginx -g nginx /usr/bin/fcgiwrap
        chmod 660 /var/run/fcgiwrap.socket
        nginx -g 'daemon off;'
    working_dir: /app
