services:
  cgit:
    image: nginx:alpine@sha256:1d13701a5f9f3fb01aaa88cef2344d65b6b5bf6b7d9fa4cf0dca557a8d7702ba
    ports:
      - "80:80"
    volumes:
      - ../:/app:ro
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ./cgitrc:/app/dev/cgitrc:ro
      - ./repos:/repos:ro
    entrypoint: ["/bin/sh", "-c"]
    command:
      - |
        apk add --no-cache fcgiwrap spawn-fcgi
        spawn-fcgi -s /var/run/fcgiwrap.socket -u nginx -g nginx /usr/bin/fcgiwrap
        chmod 660 /var/run/fcgiwrap.socket
        nginx -g 'daemon off;'
    working_dir: /app
